.todo-item {
    &-title {
        p {
            width: 5rem;
            margin-left: 1rem;
            border: 1px solid transparent;
            background-color: aqua;
            border-radius: 1111px;
            text-align: center;
            cursor: pointer;
            word-wrap: break-word;

            &.done {
                background-color: rgb(24, 156, 75);
            }

            &.active {
                background-color: rgb(196, 199, 16);
            }

            &:active {
                opacity: 0.5;
            }
        }
    }
}
